<header id="header">
  <!--header-->
  <div class="header_top">
    <!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href="tel:0987795671"><i class="fa fa-phone"></i>
                  +84 87795761</a></li>
              <li><a href="mailto:20120598@student.hcmus.edu.vn"><i class="fa fa-envelope"></i>
                  20120598@student.hcmus.edu.vn</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li><a href="https://www.facebook.com/TonDuongFb" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://linkedin.com/in/duong-tan-ton-97b497242" target="_blank"><i
                    class="fa fa-linkedin"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header_top-->
  <div class="header-middle">
    <!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left">
            <a href="/"><img src="/static/public/users/images/home/logo.png" alt="" /></a>
          </div>
          <div class="btn-group pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                Language
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Vietnam</a></li>
              </ul>
            </div>

            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                Currency
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">VND</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li><a href="/profiles"><i class="fa fa-user"></i> Account</a></li>
              <li><a href="/static/public/users/#"><i class="fa fa-star"></i> Wishlist</a></li>
              <li><a href="/static/public/users/checkout.html"><i class="fa fa-crosshairs"></i>
                  Checkout</a></li>
              <li><a href="/static/public/users/cart.html"><i class="fa fa-shopping-cart"></i>
                  Cart</a></li>
              {{#if _user}}
              <li><a href="/login/out"><i class="fa fa-lock"></i> Logout</a></li>
              {{else}}
              <li><a href="/login"><i class="fa fa-lock"></i> Login</a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header-middle-->

  <div class="header-bottom">
    <!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a href="/static/public/users/index.html" class="active">Home</a></li>
              <li class="dropdown"><a href="/static/public/users/#">Shop<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="/static/public/users/shop.html">Products</a></li>
                  <li><a href="/static/public/users/product-details.html">Product Details</a></li>
                  <li><a href="/static/public/users/checkout.html">Checkout</a></li>
                  <li><a href="/static/public/users/cart.html">Cart</a></li>
                  <li><a href="/login">Login</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/static/public/users/#">Blog<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="/static/public/users/blog.html">Blog List</a></li>
                  <li><a href="/static/public/users/blog-single.html">Blog Single</a></li>
                </ul>
              </li>
              <li><a href="/static/public/users/404.html">404</a></li>
              <li><a href="/static/public/users/contact-us.html">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <form class="search_box pull-right" method="post" action="/search">
            <input class="searchBar"  name="HotelName" type="text" placeholder="Search" 
            onkeydown="search(this)"/>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/header-bottom-->
</header>
<!--/header-->

<script>
  function search(ele){
    if(event.key === "Enter"){
      const val = document.querySelector('.searchBar');
      val.submit();
    }
  }
</script>