.toast-message-group {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
}

.toast-message {
  min-height: 40px;
  padding: 6px 8px 12px;
  border-radius: 8px;
  min-width: 60px;
  margin-bottom: 10px;

  cursor: pointer;
  transition: transform 1s linear;
  transform: translateX(calc(100% + 40px));
  box-shadow: 6px 6px rgba(0, 0, 0, 0.05);
}

.toast-message {
  display: none;
}

.toast-message .image img {
  height: 30px !important;
  width: 30px !important;
  padding-right: 6px;
  padding: 8px;
  animation: rotatenotify 0.4s linear infinite;
}

@keyframes rotatenotify {
  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(35deg);
  }

  66% {
    transform: rotate(-35deg);
  }
}

.toast-message .content {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.toast-message .warning,
.toast-message .success,
.toast-message .error,
.toast-message .info {
  display: none;
}

.toast-message.warning .content>.warning,
.toast-message.success .content>.success,
.toast-message.error .content>.error,
.toast-message.info .content>.info {
  display: block !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.toast-message.warning {
  background-color: #ffc107;
  color: #343a40 !important;
}

.toast-message.success {
  background-color: #28a745;
  color: #fff !important;
}

.toast-message.error {
  background-color: #dc3545;
  color: #fff !important;
}

.toast-message.info {
  background-color: #17a2b8;
  color: #fff !important;
}

.toast-message.warning,
.toast-message.error,
.toast-message.success,
.toast-message.info {
  display: flex !important;
}

.toast-message.hiden {
  display: none !important;
}