body {
    /* background: rgb(99, 39, 120) */
}
.edit-profile-bg{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.edit-profile {
    /* margin: 50px; */
    padding: 50px;
    border-radius: 0.5rem;
    background: rgb(243, 230, 230);
}
.profile-img {
    margin: auto;
    display: block;
    height: auto;
    max-width: 65%;
}
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.input-field {
    width: 100%;
    min-height: 35px;
}