<section id="form">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>Login to your account</h2>
					<form action="/login?_method=POST" method="POST">
						<input class="username" name="username" type="text" placeholder="Username" />
						<input name="password" type="password" placeholder="Password" />
						<span>
							<input name="keep" type="checkbox" class="checkbox">
							Remmeber me!!!
						</span>
						<button type="submit" class="btn btn-default">Login</button>
					</form>
				</div>
				<!--/login form-->
			</div>
			<div class="col-sm-1">
				<h2 class="or">OR</h2>
			</div>
			<div class="col-sm-4">
				<div class="signup-form ">
					<!--sign up form-->
					<h2>New User Signup!</h2>
					<form action="/login/create?_method=POST" method="POST">
						<input name="username" type="text" placeholder="Username" />
						<input name="password" type="password" placeholder="Password" />
						<input name="repassword" type="password" placeholder="Retype" />
						<span style="padding-right: 10px;">
							<input checked="true" style="width: 16px; display: inline-block;" id="no-enterprise"
								name="enterprise" value="false" type="radio" class="checkbox">
							<label style="line-height: 25px;  color: #333; font-weight: 300;"
								for="no-enterprise">User</label>
						</span>
						<span>
							<input style="width: 16px;  display: inline-block;" value="true" id="enterprise"
								name="enterprise" type="radio" class="checkbox">
							<label for="enterprise"
								style="line-height: 25px; font-weight: 300; color: #333;">Enterprise</label>
						</span>
						<button type="submit" class="btn btn-default">Signup</button>
					</form>
				</div>
				<!--/sign up form-->
			</div>
		</div>
	</div>
</section>
<!--/form-->
<script>
	function getCookie(name) {
		const value = `; ${document.cookie}`;
		const parts = value.split(`; ${name}=`);
		if (parts.length === 2) return parts.pop().split(';').shift();
	}
	const username = document.querySelector(".username");
	username.value = getCookie("username") || "";
</script>