<section id="slider">
  <!--slider-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#slider-carousel" data-slide-to="1"></li>
            <li data-target="#slider-carousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <div class="col-sm-6">
                <h1><span>APP</span>-BOOKING</h1>
                <h2>We live for vacationers and travelers who love a good deal, fun, and adventure</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button type="button" class="btn btn-default get">Get it now</button>
              </div>
              <div class="col-sm-6">
                <img src="/static/public/common/images/silde-home-1.jpg" class="girl img-responsive" alt="" />
                <img src="/static/public/users/images/home/pricing.png" class="pricing" alt="" />
              </div>
            </div>
            <div class="item">
              <div class="col-sm-6">
                <h1><span>APP</span>-BOOKING</h1>
                <h2>Book your stay with us, and you’ll be happy to come back</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button type="button" class="btn btn-default get">Get it now</button>
              </div>
              <div class="col-sm-6">
                <img src="/static/public/common/images/slide-home-2.webp" class="girl img-responsive" alt="" />
                <img src="/static/public/users/images/home/pricing.png" class="pricing" alt="" />
              </div>
            </div>

            <div class="item">
              <div class="col-sm-6">
                <h1><span>APP</span>-BOOKING</h1>
                <h2>The world’s most comfortable bed</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button type="button" class="btn btn-default get">Get it now</button>
              </div>
              <div class="col-sm-6">
                <img src="/static/public/common/images/slide-home-3.jpg" class="girl img-responsive" alt="" />
                <img src="/static/public/users/images/home/pricing.png" class="pricing" alt="" />
              </div>
            </div>

          </div>

          <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
<!--/slider-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <h2>Category</h2>
          <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    Sportswear
                  </a>
                </h4>
              </div>
              <div id="sportswear" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li><a href="#">Nike </a></li>
                    <li><a href="#">Under Armour </a></li>
                    <li><a href="#">Adidas </a></li>
                    <li><a href="#">Puma</a></li>
                    <li><a href="#">ASICS </a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    Mens
                  </a>
                </h4>
              </div>
              <div id="mens" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li><a href="#">Fendi</a></li>
                    <li><a href="#">Guess</a></li>
                    <li><a href="#">Valentino</a></li>
                    <li><a href="#">Dior</a></li>
                    <li><a href="#">Versace</a></li>
                    <li><a href="#">Armani</a></li>
                    <li><a href="#">Prada</a></li>
                    <li><a href="#">Dolce and Gabbana</a></li>
                    <li><a href="#">Chanel</a></li>
                    <li><a href="#">Gucci</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    Womens
                  </a>
                </h4>
              </div>
              <div id="womens" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li><a href="#">Fendi</a></li>
                    <li><a href="#">Guess</a></li>
                    <li><a href="#">Valentino</a></li>
                    <li><a href="#">Dior</a></li>
                    <li><a href="#">Versace</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Kids</a></h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Households</a></h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Interiors</a></h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Clothing</a></h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Bags</a></h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Shoes</a></h4>
              </div>
            </div>
          </div>
          <!--/category-products-->

          {{!-- <div class="brands_products">
            <!--brands_products-->
            <h2>Brands</h2>
            <div class="brands-name">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#">
                    <span class="pull-right">(50)</span>Acne</a></li>
                <li><a href="#">
                    <span class="pull-right">(56)</span>Grüne Erde</a></li>
                <li><a href="#">
                    <span class="pull-right">(27)</span>Albiro</a></li>
                <li><a href="#">
                    <span class="pull-right">(32)</span>Ronhill</a></li>
                <li><a href="#">
                    <span class="pull-right">(5)</span>Oddmolly</a></li>
                <li><a href="#">
                    <span class="pull-right">(9)</span>Boudestijn</a></li>
                <li><a href="#">
                    <span class="pull-right">(4)</span>Rösch creative culture</a></li>
              </ul>
            </div>
          </div> --}}
          <!--/brands_products-->

          <div class="price-range">
            <!--price-range-->
            <h2>Price Range</h2>
            <div class="well text-center">
              <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5"
                data-slider-value="[250,450]" id="sl2" /><br />
              <b class="pull-left">$ 0</b>
              <b class="pull-right">$ 600</b>
            </div>
          </div>
          <!--/price-range-->

          <div class="shipping text-center">
            <!--shipping-->
            <img src="/static/public/common/images/more-hotel.jpg" alt="" />
          </div>
          <!--/shipping-->

        </div>
      </div>

      <div class="col-sm-9 padding-right">
        <div class="filter-box">
          <div class="filter-datetime">
            <span class="filter-datetime-addon">
              <i class="fa fa-calendar bigger-110"></i>
            </span>
            <input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1" />
          </div>
          <div class="filter-view">
            <span>View by:</span>
            <button class="btn btn-default btn-grid active">
              <i class="icon-only ace-icon fa fa-th"></i>
            </button>
            <button class="btn btn-default btn-list">
              <i class="icon-only ace-icon fa fa-list"></i>
            </button>
          </div>
        </div>
        <div class="features_items">
          <!--features_items-->
          <h2 class="title text-center">Room Items</h2>
          <div class="room-list"></div>
        </div>
        <!--features_items-->

        <div class="category-tab">
          <!--category-tab-->
          <div class="col-sm-12">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tshirt" data-toggle="tab">5 *</a></li>
              <li><a href="#blazers" data-toggle="tab">4 *</a></li>
              <li><a href="#sunglass" data-toggle="tab">3 *</a></li>
              <li><a href="#kids" data-toggle="tab">2 *</a></li>
              <li><a href="#poloshirt" data-toggle="tab">1 *</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade active in" id="tshirt">
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery1.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery2.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery3.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery4.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="blazers">
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery4.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery3.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery2.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery1.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="sunglass">
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery3.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery4.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery1.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery2.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="kids">
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery1.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery2.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery3.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery4.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="poloshirt">
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery2.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery4.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery3.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/static/public/users/images/home/gallery1.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/category-tab-->

        <div class="recommended_items">
          <!--recommended_items-->
          <h2 class="title text-center">Recommended hotel</h2>

          <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/static/public/users/images/home/recommend1.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/static/public/users/images/home/recommend2.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/static/public/users/images/home/recommend3.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/static/public/users/images/home/recommend1.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/static/public/users/images/home/recommend2.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/static/public/users/images/home/recommend3.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"></i>View hotel</a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
        <!--/recommended_items-->

      </div>
    </div>
  </div>
</section>
<script src="/static/public/users/js/jquery.js"></script>
<script src="/static/public/users/js/moment.min.js"></script>
<script src="/static/public/users/js/daterangepicker.min.js"></script>
<script type="text/javascript">
  const getRoomsData = async () => {
    const res = await fetch('/rooms', { method: 'GET' });
    const data = await res.json();
    if (data) {
      console.log(data);
      if (data.length === 0 || data.message) {
        $('.room-list').html('<p class="room-empty">No Room</p>');
      } else {
        const rooms = data.map((room) => `
        <div class="col-sm-4 view view-grid">
          <div class="room-item">
            <div class="room-image">
              <img src="${room.image}" alt=${room.name}>
            </div>
            <div class="room-info">
              <h3 class="room-name">${room.name}</h3>
              <p class="room-description">${room.description}</p>
              <div class="room-group">
                <div>
                  <p class="room-type">${room.Room_Type.name}</p>
                </div>
                <div>
                  <span>Floor: </span>
                  <span class="room-floor">${room.floor}</span>
                </div>
                <div>
                  <span>Beds: </span>
                  <span class="room-bed">${room.Room_Type.bedNumber}</span>
                </div>
              </div>
            </div>
            <div class="room-tail">
              <div class="room-price">
                <h4>$${room.Room_Type.price} USD/Night</h4>
              </div>
              <div class="room-navigate">
                <button onclick="handleAddtoCart(${room.id})" class="btn-book">Book</button>
                <button onclick="handleViewDetail(${room.id})" class="btn-details" > Room Details</button>
            </div >
            </div >
          </div >
        </div >
        `)
        $('.room-list').html(rooms.join('\n'));
      }
    }
  }

  getRoomsData();
  jQuery(function ($) {
    $('input[name=date-range-picker]').daterangepicker({
      'applyClass': 'btn-sm btn-success',
      'cancelClass': 'btn-sm btn-default',
      locale: {
        applyLabel: 'Apply',
        cancelLabel: 'Cancel',
      }
    })
      .prev().on('click', function () {
        $(this).next().focus();
      });

    $('.btn-grid').on('click', function () {
      $(this).addClass('active');
      $('.view').addClass('col-sm-4 view-grid');
      $('.btn-list').removeClass('active');
      $('.view').removeClass('col view-list');
    })
    $('.btn-list').on('click', function () {
      $(this).addClass('active');
      $('.view').addClass('col view-list');
      $('.btn-grid').removeClass('active');
      $('.view').removeClass('col-sm-4 view-grid');
    })
  });
  function handleAddtoCart(roomId) {
    const cartHome = document.querySelector(".cart-home");
    fetch(`/rooms/booking`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        auth: getCookie("auth"),
      },
      body: JSON.stringify({
        roomId,
      })
    }).then(res => res.json())
      .then(result => {
        const { message, bookings, rediectTo } = result;
        if (!!rediectTo) {
          window.location = `/${rediectTo}`;
          return;
        }
        showToastMessage(message);
        cartHome.classList.add("has-item");
        cartHome.querySelector(".cart-home-amount").innerText = bookings.length || 0;
      })
      .catch(error => {
        cartHome.classList.remove("has-item");
        console.log("error", error)
      })
  }
  function handleViewDetail(roomId) {
    window.location.href = `/room/${roomId}`;
  }
</script>